//mixin menu(data)
//    each item in data.menu
//        if !item.modifier
//            +e.LI(class=item.class)
//                a(href= item.href)=item.text
//        else
//            +e.LI.item.welcome-menu__item--active
//                a(href= item.href)=item.text