extends ./head

block content
    body

        include ../includes/modules/header
        include ../includes/modules/footer

        script(src="https://code.jquery.com/jquery-3.4.1.min.js", crossorigin="anonymous")
        script(src="https://kit.fontawesome.com/5d57f4f625.js", crossorigin="anonymous")