body, html
  font-family: $lato-font
  position: relative
  width: 100%

*
  box-sizing: border-box

html
  overflow-x: overlay

body
  overflow-x: hidden
  color: $color-text


input[type="checkbox"]
  display: none!important

input, textarea
  appearance: none!important
  box-shadow: none

input
  border: 1px solid rgba($color-exclusive, .6)

button
  cursor: pointer
  border: none
  background: transparent
  -webkit-appearance: none
  border-radius: 0

  &:focus
    outline: none

input, button, a, textarea
  &:focus
    outline: none

textarea
  resize: none

label
  cursor: pointer

.title
  font-weight: bold
  color: $color-text
  font-size: 35px
  font-family: $montserrat-font-bold

  @media #{$med-lg-str}
    font-size: 30px

  @media #{$med-mob}
    font-size: 22px!important

.container
  +container()

.slick-active, .slick-track, .slick-slide, .slick-cloned
  &:focus
    outline: none!important

.btn
  transition: background .3s linear, opacity .3s linear
  background: $color-primary
  font-family: $montserrat-font
  font-size: 16px
  color: #ffffff
  padding: 15px 40px
  text-align: center


  @media (max-width: $media-mobile)
    font-size: 12px
    max-width: 170px
    padding-left: 20px
    padding-right: 20px

  &:hover
    background: $color-btn-hover

  &:active
    background: $color-btn-active

  &:visited
    opacity: .5

  &-unique
    color: $color-primary
    background: #fff
    border: 1px solid $color-primary

    &:hover
      background: $color-primary
      color: #fff